
/* Menú */
.top-bar{
    height: 50px;
    font-size: 12px !important;
}
.top-bar a{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
.top-bar a:nth-last-child(1){
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
.top-bar a:hover{
    color: rgb(84, 84, 185)!important ;
    transition: all 0.4s;
}
/* .right-top-bar{
    
} */
.left-top-bar p {
    text-align: center;
}

wrap-icon-header {
    flex-grow: 1;
}

.nav-bar-2{
    box-shadow: 4px 4px 15px rgba(85, 80, 80, 0.5) !important;
}
/* modal */
#btn-carr, #bt-chk-out{
    min-width: 40% !important;
    border-radius: 25px !important;
}

#btn-carr:hover, #bt-chk-out:hover{
    border: 1 px solid blueviolet;
    background-color: blueviolet;
    transition: ease 0.25s;
}
.wrap-header-cart {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.4s;
}
.header-cart-item-img {
    background: rgba(85, 80, 80, 0.3) !important;
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.header-cart-item-img::after {
    content: '\e5cd';
    font-family: Material Symbols Outlined;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
    transition: all 0.3s;
    opacity: 0;
}
.header-cart-item-img:hover:after {
    opacity: 1;
  }
.header-cart-item-img img{
    height: 60px !important;
    }

.header-cart-item-name{
    font-weight: 600 !important;
    font-size: 16px !important;
    text-align: center;
}

.header-cart-item-info{
    opacity: 0.6;
    text-align: center;
}

.modal-dialog.modal_2{
    position: absolute !important;
    right: 0 !important;
    min-width: 500px !important;
}
/* Carrusel */

.container-carousel{
    background: rgba(85, 80, 80, 0.3) !important;
}


