.top-bar{
    height: 50px;
}

left-top-bar p {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: inter-cluster;
    color: red !important;
}

wrap-icon-header {
    flex-grow: 1;
}

.nav-bar-2{
    box-shadow: 4px 4px 15px rgba(85, 80, 80, 0.5) !important;
}

.container-carousel{
    background: rgba(85, 80, 80, 0.3) !important;
}